@import "tailwindcss";

@theme {
    --color-primary: #2c5f2d;
    --color-dark: oklch(20.8% 0.042 265.755);
    --color-background: #ffff;
    --color-secondary: #64748b;
}

@layer base {
    body {
        @apply bg-background;
        font-family: 'Inter', sans-serif;
    }
}

.navbar-fixed {
    @apply bg-white/70 fixed top-0 left-0 w-full flex items-center z-[9999] backdrop-blur-sm border-b border-black/10;
}

.navbar-none {
    @apply bg-transparent absolute top-0 left-0 w-full flex items-center z-10;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active .line-1 {
    @apply rotate-45;
}

.hamburger-active .line-2 {
    @apply scale-0;
}

.hamburger-active .line-3 {
    @apply -rotate-45;
}

/* #ffe77a; */